//VARIABLES

/*COLORS*/
$bgc1: #A67744;
$bgc2: #EEF3F4;
$bgc3: #F7F7F7;
$fontcolor1: #F7F5E6;
$fontcolor2: #354E57;
$fontcolor3: #2E2E22;

/*FONTS*/
$primaryFont: "Proxima Nova";

/*WIDTH*/
$maxWidth: 1366px;

//FONT IMPORTS
@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaFont.otf");
}

//RESET STYLES
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 10px;
}