/*COLORS*/
/*FONTS*/
/*WIDTH*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaFont.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
}

.homepage {
  width: 1366px;
  background-image: url("/src/assets/updated_Header.png");
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .popup {
  width: 100%;
  height: 40px;
  background-color: #A67744;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Proxima Nova";
}

.homepage .popup p {
  font-size: 1.2rem;
  color: #F7F5E6;
}

.navigation-bar {
  width: 1196px;
  height: 84px;
  margin-top: 44px;
  color: #354E57;
  font-family: "Proxima Nova";
}

.navigation-bar .nav-1 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-bar .nav-1 div ul li {
  display: inline;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.navigation-bar .nav-1 div ul li:first-child {
  margin-right: 45px;
}

.navigation-bar .nav-1 div ul li a:visited {
  color: #354E57;
}

.navigation-bar .nav-1 div p {
  font-size: 3.2rem;
  letter-spacing: 1.6px;
}

.navigation-bar .nav-2 div {
  width: 100%;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-bar .nav-2 div ul li {
  display: inline;
  font-size: 1.6rem;
  margin-left: 62px;
  letter-spacing: 0.8px;
}

.navigation-bar .nav-2 div ul li a:visited {
  color: #354E57;
}

.layout {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  width: 1196px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Proxima Nova";
  color: #354E57;
}

.hero div {
  width: 530px;
  height: 400px;
  margin-top: 100px;
}

.hero .hero-1 .btn-1 {
  width: 50px;
  height: 28px;
  background-color: #F7F7F7;
  border: none;
  font-size: 1.2rem;
}

.hero .hero-1 h2 {
  font-size: 4.8rem;
  padding: 14px 0;
  line-height: 58px;
}

.hero .hero-1 h2 span {
  display: block;
}

.hero .hero-1 p {
  font-size: 1.6rem;
  line-height: 24px;
  margin-bottom: 28px;
}

.hero .hero-1 p span {
  display: block;
}

.hero .hero-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero .hero-2 .img-2 {
  width: 400px;
  height: 400px;
  background-image: url("/src/assets/ezcema.png");
  bottom: 10px;
  left: -55px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.products {
  width: 1366px;
  background-color: #EEF3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Proxima Nova";
}

.products .products-text-box {
  width: 100%;
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EEF3F4;
  border: 1px solid #547665;
  font-family: "Proxima Nova";
  color: #354E57;
}

.products .products-text-box h2 {
  font-size: 2.8rem;
  line-height: 34px;
}

.products .products-text-box p {
  font-size: 1.6rem;
  line-height: 19px;
  margin-top: 10px;
}

.products .products-section {
  width: 1130px;
  margin-top: 82px;
  color: #2E2E22;
  margin-bottom: 111px;
}

.products .products-section .products-section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 29px;
}

.products .products-section .products-section-text p {
  font-size: 1.4rem;
  line-height: 17px;
}

.products .products-section .products-section-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 42px;
}

.product {
  width: 251px;
  height: 462px;
  background-color: #F7F7F7;
  position: relative;
}

.product .product-stamp {
  width: 27px;
  height: 12px;
  background-color: #EEF3F4;
  position: absolute;
  top: 12px;
  left: 15px;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .product-bg-img {
  width: 100%;
  height: 346px;
  background-image: url("/src/assets/Cream-2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.product .product-info {
  margin-top: 14px;
  background-color: #EEF3F4;
}

.product .product-info p {
  font-size: 1.2rem;
  line-height: 16px;
  margin-bottom: 6px;
}

.product .product-info p:first-child {
  font-size: 1.4rem;
  line-height: 17px;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: -1px;
}

.product .product-info button {
  border: none;
  width: 100%;
  height: 35px;
  background-color: transparent;
  font-size: 1.2rem;
  border: 1px solid #2E2E22;
}

.shop-more {
  width: 1366px;
  height: 731px;
  background-color: aquamarine;
  font-family: "Proxima Nova";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-more .shop-more-info {
  width: 50%;
  height: 100%;
  background-color: #547665;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-more .shop-more-info div {
  width: 465px;
}

.shop-more .shop-more-info div h2 {
  font-size: 4.0rem;
  line-height: 55px;
  letter-spacing: -1px;
  font-weight: 700;
  color: white;
}

.shop-more .shop-more-info div p {
  font-size: 1.4rem;
  padding: 23px 0 55px 0;
  line-height: 24px;
  color: #EEF2F4;
}

.shop-more .shop-more-info div span {
  display: block;
}

.shop-more .shop-more-img {
  width: 50%;
  height: 100%;
  background-image: url("/src/assets/man-in-blue-top.png");
  background-size: 110%;
}
/*# sourceMappingURL=main.css.map */