/*COLORS*/
/*FONTS*/
/*WIDTH*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaFont.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-bar {
  padding-top: 44px;
  color: #354E57;
  font-family: "Proxima Nova";
  background-color: #e0e4e7;
}

.navigation-bar .nav-1 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-bar .nav-1 div ul li {
  display: inline;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.navigation-bar .nav-1 div ul li:first-child {
  margin-right: 45px;
}

.navigation-bar .nav-1 div ul li a:visited {
  color: #354E57;
}

.navigation-bar .nav-1 div p {
  font-size: 3.2rem;
  letter-spacing: 1.6px;
}

.navigation-bar .nav-2 div {
  width: 100%;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-bar .nav-2 div ul li {
  display: inline;
  font-size: 1.6rem;
  margin-left: 62px;
  letter-spacing: 0.8px;
}

.navigation-bar .nav-2 div ul li a:visited {
  color: #354E57;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Proxima Nova";
  color: #354E57;
  background-image: url("/src/assets/updated_Header.png");
  background-size: 100%;
  background-position: center;
}

.hero div {
  width: 530px;
  height: 400px;
  margin-top: 100px;
}

.hero .hero-1 {
  margin-left: 45px;
}

.hero .hero-1 .btn-1 {
  width: 50px;
  height: 28px;
  background-color: #F7F7F7;
  border: none;
  font-size: 1.2rem;
}

.hero .hero-1 p {
  padding: 28px 0;
}

.products {
  background-color: #EEF3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Proxima Nova";
}

.products .products-section {
  width: 1130px;
  margin-top: 82px;
  color: #2E2E22;
  margin-bottom: 111px;
}

.products .products-section .products-section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 29px;
}

.products .products-section .products-section-text p {
  font-size: 1.4rem;
  line-height: 17px;
}

.products .products-section .products-section-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 42px;
}

.product {
  background-color: #F7F7F7;
  position: relative;
  font-family: "Proxima Nova";
}

.product .product-stamp {
  width: 27px;
  height: 12px;
  background-color: #EEF3F4;
  position: absolute;
  top: 12px;
  left: 15px;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .product-bg-img {
  width: 100%;
  height: 346px;
  background-image: url("/src/assets/Cream-2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.product .product-info {
  margin-top: 14px;
  background-color: #EEF3F4;
}

.product .product-info p {
  font-size: 1.2rem;
  line-height: 16px;
  margin-bottom: 6px;
}

.product .product-info p:first-child {
  font-size: 1.4rem;
  line-height: 17px;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: -1px;
}

.product .product-info button {
  border: none;
  width: 100%;
  height: 35px;
  background-color: transparent;
  font-size: 1.2rem;
  border: 1px solid #2E2E22;
}

.shop-more {
  height: 731px;
  font-family: "Proxima Nova";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-more .shop-more-info {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-more .shop-more-info div {
  width: 465px;
}

.shop-more .shop-more-info div h1 {
  color: #EEF2F4;
}

.shop-more .shop-more-info div p {
  padding: 23px 0;
  color: #EEF2F4;
}

.shop-more .shop-more-img {
  width: 50%;
  height: 100%;
  background-size: 130%;
}

.ingredients {
  height: 1000px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Proxima Nova";
}

.ingredients .ingredients-wrapper {
  width: 912px;
  height: 775px;
}

.ingredients .ingredients-wrapper .ingredients-text-box {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ingredients .ingredients-wrapper .ingredients-grid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.ingredient .ingredient-bg-img {
  width: 100%;
  height: 320px;
  background-image: url("/src/assets/Screenshot-1.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.ingredient .ingredient-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ingredient .ingredient-info p {
  padding-top: 5px;
}

.store-info {
  height: 234px;
  background-color: #EEF3F4;
  font-family: "Proxima Nova";
  color: #354E57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.store-info .store-info-wrapper {
  width: 776px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.store-info .store-info-wrapper .store-info-box {
  width: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-info .store-info-wrapper .store-info-box div {
  width: 26px;
  height: 26px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.store-info .store-info-wrapper .store-info-box .shop {
  background-image: url("/src/assets/shop.svg");
}

.store-info .store-info-wrapper .store-info-box .shopping-cart {
  background-image: url("/src/assets/shopping-cart2.svg");
}

.store-info .store-info-wrapper .store-info-box .telephone {
  background-image: url("/src/assets/phone-ringing.svg");
}

.store-info .store-info-wrapper .store-info-box p {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 14px;
}

.store-info .store-info-wrapper .store-info-box p a {
  font-size: 1.2rem;
  text-decoration: underline;
}

.store-info .store-info-wrapper .store-info-box p a:visited {
  color: #354E57;
}

.footer {
  background-color: white;
  font-family: "Proxima Nova";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-info {
  width: 1090px;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-info .line {
  width: 1px;
  height: 78px;
  background-color: #D7CCDD;
}

.footer .footer-info h1 {
  width: 202px;
}

.footer .footer-info p {
  width: 304px;
}

.footer .footer-info-wrapper {
  height: 728px;
  background-color: #354E57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-info-wrapper .footer-info-box {
  width: 1090px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  border-bottom: 1px solid #F7F5E6;
}

.footer .footer-info-wrapper .footer-info-box .footer-info-box-1 {
  width: 344px;
}

.footer .footer-info-wrapper .footer-info-box .footer-info-box-1 h1 {
  font-size: 5.4rem;
  line-height: 6.6rem;
  letter-spacing: 0.27rem;
}

.footer .footer-info-wrapper .footer-info-box .footer-info-box-1 p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 40px;
}

.footer .footer-info-wrapper .footer-info-box .footer-info-box-2 {
  width: 483px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-info-wrapper .footer-info-box .footer-info-box-2 ul li {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.footer .footer-info-wrapper .footer-info-box .footer-info-box-2 ul li:first-child {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 12px;
}

.footer .footer-info-wrapper .privacy-policy {
  width: 1090px;
  padding-top: 40px;
}

.footer .footer-info-wrapper .privacy-policy p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms ul li {
  display: inline-block;
  text-decoration: underline;
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms ul li a {
  margin-right: 74px;
  font-size: 1.6rem;
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms ul li a:visited {
  color: white;
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms .privacy-policy-icon {
  width: 26px;
  height: 26px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 39px;
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms .facebook {
  background-image: url("/src/assets/facebook.svg");
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms .instagram {
  background-image: url("/src/assets/instagram.svg");
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms .twitter {
  background-image: url("/src/assets/twitter.svg");
}

.footer .footer-info-wrapper .privacy-policy .privacy-policy-terms .youtube {
  background-image: url("/src/assets/youtube-logotype.svg");
}

.banner-1 {
  width: 100%;
  height: 40px;
  background-color: #A67744;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Proxima Nova";
}

.banner-2 {
  width: 100%;
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EEF3F4;
  border: 1px solid #547665;
  font-family: "Proxima Nova";
}

.products-display {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEF3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-component-grid {
  width: 100%;
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  border-top: 1px solid #2E2E22;
}

.products-component-grid .one {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}
/*# sourceMappingURL=main.css.map */