.navigation-bar{
    width: 1196px;
    height: 84px;
    margin-top: 44px;
    color: $fontcolor2;
    font-family: $primaryFont;

    .nav-1{
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul li{
                display: inline;
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 0.6px;
                &:first-child{
                    margin-right: 45px;
                }
                a {
                    &:visited {
                        color: $fontcolor2;
                    }
                }
            }
            p{
            font-size: 3.2rem;
            letter-spacing: 1.6px;
            }
        }
    }

    .nav-2{
        div{
            width: 100%;
            margin-top: 28px;
            display: flex;
            justify-content: center;

            ul li{
                display: inline;
                font-size: 1.6rem;
                margin-left: 62px;
                letter-spacing: 0.8px;
                a {
                    &:visited {
                        color: $fontcolor2;
                    }
                }
            }
            
        }
    }
}