.navigation-bar{
    width: 1196px;
    height: 84px;
    background-color:cadetblue;
    margin-top: 44px;
    color: $fontcolor2;
    font-family: $primaryFont;

    .nav-1{
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul li{
                display: inline;
                font-size: 1.2rem;
                &:first-child{
                    margin-right: 45px;
                }
            }
            p{
            font-size: 3.2rem;
            }
        }
    }

    .nav-2{
        div{
            width: 100%;
            margin-top: 28px;
            display: flex;
            justify-content: center;

            ul li{
                display: inline;
                font-size: 1.6rem;
                margin-left: 62px;
            }
        }
    }
}