.shop-more{
    width: $maxWidth;
    height: 731px;
    font-family: $primaryFont;
    display: flex;

    .shop-more-info{
        width: 50%;
        height: 100%;
        background-color: $bgc4;
        display: flex;
        align-items: center;
        justify-content: center;
        
    div{
        width: 465px;
        
        h1{
            color: $fontcolor4;
        }

        p{
            padding: 23px 0;
            color: $fontcolor4;
        }
    }
    }

    .shop-more-img{
        width: 50%;
        height: 100%;
        background-image: url("/src/assets/man-in-blue-top.png");
	    background-size: 110%;
    }
}