.shop-more{
    height: 731px;
    font-family: $primaryFont;
    display: flex;

    .shop-more-info{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        
    div{
        width: 465px;
    }
    }

    .shop-more-img{
        width: 50%;
        height: 100%;
        // background-image: url("/src/assets/man-in-blue-top.png");
	    background-size: 130%;
    }
}