.banner-2{
    width: 100%;
    height: 141px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bgc2;
    border: 1px solid $bordercolor1;
    font-family: $primaryFont;
}