.instagram-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  .instagram-logo {
    width: 54px;
    height: 54px;
    background-image: url('/src/assets/001-instagram.png');
    background-size: 100%;
  }

  .instagram-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    padding-top: 64px;
    padding-bottom: 160px;

    div {
      height: 255px;
      background-color: chartreuse;
      background-image: url('/src/assets/curology.png');
      background-size: 100%;
    }
  }
}
